<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b83b79753.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle</title>
</head>
<body>
    <header class="header">
        
        <div class="carrito-perfil">
            <div class="iconos-head">
                <i class="icono carrito fa-solid fa-cart-shopping"></i>
                <i class="icono usuario fa-regular fa-user"></i>
            </div>
        </div>
    <div class="nav">
        
        <nav>
                <input type="checkbox" id="menu">
                <label for="menu">☰</label>        
                <ul>
                <li>mi cuenta</li>
                <li>iniciar sesion</li>
                <li>registrarse</li>
                <li>contacto</li>
                </ul>    
        </nav>
                
    </div>
            <div class="icono">
                <img class="icono-hdr" src="/image/icono-pag-1.png" alt="">
            </div>
            <div class="titulo">
                <h1>posterfilia</h1>
            </div>
    
    
    
        <div class="barra-progreso">
    
            <div class="progress">
              <div class="progress-bar" role="progressbar">
                BARRA PROGRESO
              </div>
            </div>
        
          </div>
        </header>
        <main class="detail">
            <section class="producto">
                <div class="titulo">
                    <h2 class="h2">akira</h2>
                </div>
                <div class="producto">
                    <div class="producto-img">
                        <img class="img-pr" src="/image/Akira.jpg" alt="">
                    </div>
                    <div class="desc-pr">
                        <p class="precio">$1.599</p>
                        <label for="cantidad"></label>
                        <input class="cantidad" type="number" name="" id="cantidad">
                        <button class="boton-pr">añadir al carrito</button>
                    </div>
                </div>
            </section>

            <section class="informacion">
                <div class="info-tit"><h3 class="info-tit-h">información adicional</h3></div>
                <div class="text-info"><p class="cuadro-tit">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quis hic error similique autem optio fugiat adipisci quidem beatae? Saepe doloribus consequuntur voluptates. Reprehenderit distinctio odit nihil cupiditate rerum modi!</p></div>
                
                <div class="info-tit"><h3 class="info-tit-h">especificaciones</h3></div>
                <div class="info-cnt">
                    <div class="cuadro"><p class="cuadro-tit">tipo:</p><p class="cuadro-esp">cuadro, lamina</p></div>
                    <div class="cuadro"><p class="cuadro-tit">enmarcado:</p><p class="cuadro-esp">	
                        Sin Marco, Soho Black, Soho Natural, Soho Steel, Soho Golden, Carnaby Silver, Carnaby Golden</p></div>
                    <div class="cuadro"><p class="cuadro-tit">medidas:</p><p class="cuadro-esp">20×30, 30×45, 40×60, 50×75, 60×90</p></div>
                </div>
            </section>

            <section class="pr-rela">
                <div class="pr-tit">
                    <h3 class="pr-h">productos relacionados</h3>
                </div>
                <div class="productos">
                    <div class="producto-bot">
                        <div>
                            <img class="pr-img" src="/image/Akira.jpg" alt="">
                        </div>
                        <div class="iconos">
                            <i class="icono fa-solid fa-plus"></i>
                            <i class="icono carrito fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="desc">
                            <p>akira</p>
                            <p>$1.599</p>
                        </div>
                    </div>
                    <div class="producto-bot">
                        <div>
                            <img class="pr-img" src="/image/Akira.jpg" alt="">
                        </div>
                        <div class="iconos">
                            <i class="icono fa-solid fa-plus"></i>
                            <i class="icono carrito fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="desc">
                            <p>akira</p>
                            <p>$1.599</p>
                        </div>
                    </div>
                    <div class="producto-bot">
                        <div>
                            <img class="pr-img" src="/image/Akira.jpg" alt="">
                        </div>
                        <div class="iconos">
                            <i class="icono fa-solid fa-plus"></i>
                            <i class="icono carrito fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="desc">
                            <p>akira</p>
                            <p>$1.599</p>
                        </div>
                    </div>
                    <div class="producto-bot">
                        <div>
                            <img class="pr-img" src="/image/Akira.jpg" alt="">
                        </div>
                        <div class="iconos">
                            <i class="icono fa-solid fa-plus"></i>
                            <i class="icono carrito fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="desc">
                            <p>akira</p>
                            <p>$1.599</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-img">
                <img class="icono-hdr"  src="/image/icono-pag-1.png" alt="">
            </div>
            
            <div class="footer-nav">
                <ul>
                    <li>contacto</li>
                    <li>sobre mi</li>
                    <li>registrarse</li>
                </ul>
            </div>
        </footer>
</body>
</html>