<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b83b79753.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Posterfilia</title>
</head>
<body class="header-n">
    <header>
        <nav class="nav-top">
            <ul>
                <li><a href="/"><i class="icono carrito fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/"><i class="icono usuario fa-regular fa-user"></i></a></li>
            </ul>
        </nav>

        <div class="icono-div">
            <img class="icono-img" src="/image/icono-pag-1.png" alt="">
        </div>
        <h1 class="titulo-head">posterfilia</h1>
        <nav class="nav-bot">
            <ul>
                <input type="checkbox" id="menu" checked>
                <label for="menu">☰</label>
                <li><a href="">iniciar sesión</a></li>
                <li><a href="">registrarme</a></li>
                <li><a href="">sobre nosotros</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-n">
        <section class="categor">
            <article>
                <div class="cat-cont">
                <a href="">  

                    <img class="img-cat" src="/image/zapas/zapa-h.jpg" alt="">
                    <p class="tit-cat"> hombre </p>

                </a>
                </div>
                <div class="cat-cont">
                    <a href="">

                    <img class="img-cat" src="/image/zapas/zapa-m.jpg" alt="">
                    <p class="tit-cat">mujer </p>

                    </a>
                </div>
                <div class="cat-cont">
                    <a href="">

                    <img class="img-cat" src="/image/zapas/zapa-n.webp" alt="">
                    <p class="tit-cat"> niños </p>

                    </a>
                </div>
            </article>
        </section>

        <section class="search">
            <article>
                <div class="tit-cnt"><p>¿Buscas algo en particular?</p></div>
                <div class="form-cnt">
                    <form class="search-cnt" action="" method="post">
                        
                            <input class="search-input" type="text" name="" id="" placeholder="Escriba aquî">
                            <button class="search-btn"><i class="fa-solid fa-arrow-right"></i></button>
                            
                    </form>
                </div>
            </article>
        </section>
        <section class="marcas-cnt">
            <article>
                <h3 class="marcas-tit">navega por marcas</h3>
                <div class="marcas">
                    <div class="logo-cnt">
                        <div class="logo">
                            <a href=""><img class="img-logo" src="/image/logos/nike.png" alt=""></a> 
                        </div>
                        <div class="logo">
                           <a href=""><img class="img-logo" src="/image/logos/adidas.png" alt=""></a> 
                        </div>
                        <div class="logo">
                            <a href=""><img class="img-logo" src="/image/logos/topper.png" alt=""></a> 
                        </div>
                    </div>
                    <div class="input-cnt">
                        <input type="radio" name="position" class="carrousel" checked>
                        <input type="radio" name="position" class="carrousel">
                        <input type="radio" name="position" class="carrousel">
                        <input type="radio" name="position" class="carrousel">
                    </div>
                </div>
            </article>
        </section>
        <section class="top-3">
            <h2 class="titulo">top semanal</h2>
            <article class="tops">
                

               <div class="pdt-cont">

                 <div class="img-cont">
                    <a href=""><img class="div-img" src="/image/zapas/NI_CD5432-115-1.jpg" alt=""></a>
                 </div>

                 <div class="desc-cont">
                    <div class="bnt-cont">
                        <a href=""><i class="icono fa-solid fa-plus"></i></a>
                        <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                    </div>
                <div class="titulo-prod">
                    <p class="texto">Nike Air Max Pro</p>
                    <p class="texto">$ 1.499</p>
                </div>
                 </div>

               </div>
               <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/AD_GW4113-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Adidas Duramo 10</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/AD_GX7335-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Adidas Response Solar</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
            </article>
        </section>
        <section class="envios-cnt">
            <article>
                
                <h3>Envios GRATIS desde $10.000</h3><i class="fa-solid fa-truck"></i>
            </article>
        </section>

        <section class="top-3"> 
            <h2 class="titulo">todos nuestros productos</h2>
            <article class="productos">
               

               <div class="pdt-cont">

                 <div class="img-cont">
                    <a href=""><img class="div-img" src="/image/zapas/AD_GX7335-1.jpg" alt=""></a>
                 </div>

                 <div class="desc-cont">
                    <div class="bnt-cont">
                        <a href=""><i class="icono fa-solid fa-plus"></i></a>
                        <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                    </div>
                <div class="titulo-prod">
                    <p class="texto">Adidas Response Solar</p>
                    <p class="texto">$ 1.499</p>
                </div>
                 </div>

               </div>
               <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/AD_GW4113-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Adidas Duramo 10</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/NI_CD5432-115-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Nike Air Max Excee</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/NI_CD5432-115-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Nike Air Max Excee</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/NI_CD5432-115-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Nike Air Max Excee</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/NI_CD5432-115-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Nike Air Max Excee</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>
              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/LE_LFB1210003-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Le Coq Sportif R Pro</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>

              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/PU_382116-08-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Puma Shuffle</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>

              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/AD_GW4113-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Puma Karmen L</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>

              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/TO_26212-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Topper Strong Pace III</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>

              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/TO_26876-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Topper T.350 Mesh</p>
                   <p class="texto">$ 1.499</p>
               </div>
                </div>

              </div>

              <div class="pdt-cont">

                <div class="img-cont">
                   <a href=""><img class="div-img" src="/image/zapas/PU_377687-08-1.jpg" alt=""></a>
                </div>

                <div class="desc-cont">
                   <div class="bnt-cont">
                       <a href=""><i class="icono fa-solid fa-plus"></i></a>
                       <a href=""><i class="icono carrito fa-solid fa-cart-shopping"></i></a>
                   </div>
               <div class="titulo-prod">
                   <p class="texto">Puma Disperse Xt 2 Mesh</p>
                   <p class="texto">$ 1.499</p>
              </div>
 <!--                   <button type="submit" class="btn"><a href="">comprar</a></button>-->
                </div>

              </div>


            </article>
            <div class="bnt-cont">
                <form class="form-cnt" action="" method="">
                    <button class="btn btn-mas" type="submit">VER MÁS</button>
                </form>
              </div>
        </section>
        
        <section class="info">
            <article>
                <h3>Podes mandarnos tu consulta:</h3>
               <form action="" method="post">
                <ul>
                    <li>
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder="nombre">
                    </li>
                    <li>    
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="email">
                    </li>
                    <li>
                        <label for="message"></label>
                        <textarea placeholder="tu mensaje" name="message" id="message" cols="30" rows="10"></textarea>
                    </li>
                    <li>
                        <button type="submit">enviar</button>
                    </li>
                </ul>
               </form>
            </article>
        </section>
    </main>
</body>
</html>