<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b83b79753.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Poster - Shop</title>
</head>
<body>
   
    <header class="header">
        
        <div class="carrito-perfil">
            <div class="iconos-head">
                <i class="icono carrito fa-solid fa-cart-shopping"></i>
                <i class="icono usuario fa-regular fa-user"></i>
            </div>
        </div>
    <div class="nav">
        
        <nav>
                <input type="checkbox" id="menu">
                <label for="menu">☰</label>        
                <ul>
                <li>mi cuenta</li>
                <li>iniciar sesion</li>
                <li>registrarse</li>
                <li>contacto</li>
                </ul>    
        </nav>
                
    </div>
            <div class="icono">
                <img class="icono-hdr" src="/image/icono-pag-1.png" alt="">
            </div>
            <div class="titulo">
                <h1>posterfilia</h1>
            </div>
    
    
    
        <div class="barra-progreso">
    
            <div class="progress">
              <div class="progress-bar" role="progressbar">
                BARRA PROGRESO
              </div>
            </div>
        
          </div>
        </header>


    <main class="main">   
        <section>
<div class="categorias">
<div class="cate-1">
        <div class="cat-div">
            <img class="img-cat" src="/image/suspiria-terror.jpg" alt="">
            <h3 class="tit-h3">terror</h3>
        </div>
</div>
</div>
<div class="busq-cont">
    <div class="busqueda-titulo">
        <p>¿qué estás buscando?</p>
    </div>    
    <div class="search">
        <form action="#footer">
            <input type="text" class="buscador" placeholder="Buscar productos" name="search">
            <button class="boton-busq"><i class="lupa fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>
<article class="lo-mas">
    <div class="lo-mas-titulo">
        <h2>lo mas comprado del mes</h2>
    </div>
    <div>
        <div class="lo-mas-img">
            <img class="top-img" src="/image/nop-cartel-10474.jpg" alt="">

            <div class="iconos-lo-mas">
                <i class="icono fa-solid fa-plus"></i>
                <i class="icono carrito fa-solid fa-cart-shopping"></i>
            </div>

            <div class="lo-mas-desc">
            <p>Poster ¡Nop!</p>
            <p>$1.599</p>

        </div>    
        <div class="lo-mas-but">
        <button><a href=""></a> comprar ahora</button>
    </div>
        </div>
    </div>
</article>


    <article class="lo-mas">
        <div class="titulo-pr">
            <h3>nuestros productos</h3>
        </div>
<div class="productos">

        <div class="producto">
            <div class="producto-imagen">
                <img class="prd-imgn" src="/image/barbarian-cartel-10643.jpg" alt="">
            </div>
            <div class="iconos-lo-mas">
                <i class="icono fa-solid fa-plus"></i>
                <i class="icono carrito fa-solid fa-cart-shopping"></i>
            </div>
        
        <div class="producto-desc">
            <p>barbarian</p>
            <p>$1.599</p>
        </div>
            </div>
            <div class="producto">
                <div class="producto-imagen">
                    <img class="prd-imgn" src="/image/Akira.jpg" alt="">
                </div>
                <div class="iconos-lo-mas">
                    <i class="icono fa-solid fa-plus"></i>
                    <i class="icono carrito fa-solid fa-cart-shopping"></i>
                </div>
            
            <div class="producto-desc">
                <p>akira</p>
                <p>$1.599</p>
            </div>
                </div>
                <div class="producto">
                    <div class="producto-imagen">
                        <img class="prd-imgn" src="/image/Clockwork-Orange.jpg" alt="">
                    </div>
                    <div class="iconos-lo-mas">
                        <i class="icono fa-solid fa-plus"></i>
                        <i class="icono carrito fa-solid fa-cart-shopping"></i>
                    </div>
                
                <div class="producto-desc">
                    <p>Clockwork Orange</p>
                    <p>$1.599</p>
                </div>
                    </div>
                    <div class="producto">
                        <div class="producto-imagen">
                            <img class="prd-imgn" src="/image/resident-evil-5.webp" alt="">
                        </div>
                        <div class="iconos-lo-mas">
                            <i class="icono fa-solid fa-plus"></i>
                            <i class="icono carrito fa-solid fa-cart-shopping"></i>
                        </div>
                    
                    <div class="producto-desc">
                        <p>resident evil 5</p>
                        <p>$1.599</p>
                    </div>
                        </div>
                        <div class="producto">
                            <div class="producto-imagen">
                                <img class="prd-imgn" src="/image/blade-runner-2049-poster-main-scaled.jpg" alt="">
                            </div>
                            <div class="iconos-lo-mas">
                                <i class="icono fa-solid fa-plus"></i>
                                <i class="icono carrito fa-solid fa-cart-shopping"></i>
                            </div>
                        
                        <div class="producto-desc">
                            <p>blade runner 2049</p>
                            <p>$1.599</p>
                        </div>
                            </div>
                            <div class="producto">
                                <div class="producto-imagen">
                                    <img class="prd-imgn" src="/image/Army.jpg" alt="">
                                </div>
                                <div class="iconos-lo-mas">
                                    <i class="icono fa-solid fa-plus"></i>
                                    <i class="icono carrito fa-solid fa-cart-shopping"></i>
                                </div>
                            
                            <div class="producto-desc">
                                <p>army of darkness</p>
                                <p>$1.599</p>
                            </div>
                                </div>
        </div>
    </article>

</section>

    </main>
    <footer class="footer">
        <div class="footer-img">
            <img class="icono-hdr"  src="/image/icono-pag-1.png" alt="">
        </div>
        
        <div class="footer-nav">
            <ul>
                <li>contacto</li>
                <li>sobre mi</li>
                <li>registrarse</li>
            </ul>
        </div>
    </footer>
</body>
</html>

<!--            <div class="flechas">
                <a href="#"><i class="flecha-1 fa-solid fa-angle-left"></i></a>
                <a href="#"><i class="flecha-2 fa-solid fa-angle-right"></i></a>
            </div>-->