<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b83b79753.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Entrar</title>
</head>
<body class="header-n">
    <header>
        <nav class="nav-top">
            <ul>
                <li><a href="/"><i class="icono carrito fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/"><i class="icono usuario fa-regular fa-user"></i></a></li>
            </ul>
        </nav>

        <div class="icono-div">
            <img class="icono-img" src="/image/icono-pag-1.png" alt="">
        </div>
        <h1 class="titulo-head">posterfilia</h1>
        <nav class="nav-bot">
            <ul>
                <input type="checkbox" id="menu" checked>
                <label for="menu">☰</label>
                <li><a href="">iniciar sesión</a></li>
                <li><a href="">registrarme</a></li>
                <li><a href="">sobre nosotros</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>

        <main class="login">

            <div class="login-cnt">
                <div class="usuario">
                    <input type="text" class="input" placeholder="usuario" name="" id="">
                </div>
                <div class="cont-cnt">
                    <input class="input" type="password" placeholder="contraseña" name="contraseña" id=""></label>
                </div>
                <div class="iniciar-cnt"> 
                    <button class="boton">iniciar sesion</button>
                </div>
            </div>



        </main>



        
</body>
</html>