<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <header class="header">
        
        <div class="carrito-perfil">
            <div class="iconos-head">
                <i class="icono carrito fa-solid fa-cart-shopping"></i>
                <i class="icono usuario fa-regular fa-user"></i>
            </div>
        </div>
    <div class="nav">
        
        <nav>
                <input type="checkbox" id="menu">
                <label for="menu">☰</label>        
                <ul>
                <li>mi cuenta</li>
                <li>iniciar sesion</li>
                <li>registrarse</li>
                <li>contacto</li>
                </ul>    
        </nav>
                
    </div>
            <div class="icono">
                <img class="icono-hdr" src="/image/icono-pag-1.png" alt="">
            </div>
            <div class="titulo">
                <h1>posterfilia</h1>
            </div>
    
    
    
        <div class="barra-progreso">
    
            <div class="progress">
              <div class="progress-bar" role="progressbar">
                BARRA PROGRESO
              </div>
            </div>
        
          </div>
        </header>
    <footer class="footer">
        <div class="footer-img">
            <img class="icono-hdr"  src="/image/icono-pag-1.png" alt="">
        </div>
        
        <div class="footer-nav">
            <ul>
                <li>contacto</li>
                <li>sobre mi</li>
                <li>registrarse</li>
            </ul>
        </div>
    </footer>
</body>
</html>