*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --titulo-font : 'Baloo 2', cursive;
    --otro-font : 'Play', sans-serif;
    --menu-font : 'Saira Condensed', sans-serif;
    --fuente-todo : 'Open Sans', sans-serif;

    --color-uno-: #394F6B;
    --color-dos-: #1C2341;
    --color-tres-: #12182B;
    --color-cuatro-: #FFEBD2;
}