.register{
    display: flex;
    justify-content: center;
    height: 450px;
}
.register .register-cnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.register .register-div .input-reg{
    border: 0;    
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: black;
    width: 100%;
    height: 50px;
}
.register .datos-cnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.register .register-div{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 70%;
}

.register .boton-reg{
    background: var(--color-tres-);
    border: 0;
    color: white;
    text-align: center;
}
.register .boton-reg:hover{
    background: var(--color-cuatro-);
    border-radius: 5px;
    color: var(--color-tres-);
}

@media  (min-width: 468px){
    .register{
        height: 350px;
    }
    .register .datos-cnt{
        flex-direction: row;
        width: 55%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .register .register-div{
        margin: 10px;
    }
    .register .register-div .input-reg{
        width: 100%;
    }

    .register .boton-reg{
        width: 100%;
    }
}

@media (min-width: 768px){
    
}