.register{
    background-color: #110508;
    display: flex;
    justify-content: center;
    height: 450px;
}
.register .register-cnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.register .register-div .input-reg{
    border: 0;    
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: black;
    width: 100%;
}
.register .datos-cnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.register .register-div{
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.register .boton-div{
    background-color: #34234e;
}
.register .boton-reg{
    background-color: #34234e;
    font-family: var(--menu-font);
    text-transform: uppercase;
    border: 0;
    color: white;
}
.register .boton-reg:hover{
    color: #ec1037;
}

@media  (min-width: 468px){
    .register{
        height: 350px;
    }
    .register .datos-cnt{
        flex-direction: row;
        width: 55%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .register .register-div{
        width: 35%;
        margin: 10px;
    }
    .register .register-div .input-reg{
        width: 100%;
    }
    .register .boton-div{
        width: 15%;
        align-self: center;
    }.register .boton-reg{
        width: 100%;
    }
}